@{
    ViewData["Title"] = "DemoPage";
}

<h1>ReactDemo with webpack</h1>
<div id="root"></div>
@section Scripts {

    <script data-main="/js/DemoPage/index.js" src="~/lib/require.js" asp-append-version="true"></script>
    <script>
        require(["index"])
    </script>

}
